<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">libcoding</h3>
</div>

<div class="jumbotron">
  <h1>こんにちわこんにちわ！</h1>
  <p class="lead">
    <div class="row">
      <div class="col-md-4">
        <img ng-src="{{ images[0] }}" alt="I'm Mokomichi" style="width: 100%">
      </div>
      <div class="col-md-4">
        <img ng-src="{{ images[1] }}" alt="I'm Mokomichi" style="width: 100%">
      </div>
      <div class="col-md-4">
        <img ng-src="{{ images[2] }}" alt="I'm Mokomichi" style="width: 100%">
      </div>
    </div>

    モコミチルーレット
  </p>
  <p><a class="btn btn-lg btn-success" ng-click="onClickButton()">回す</a></p>
</div>

<div class="row marketing">
  <h4 ng-repeat-start="awsomeThing in awesomeThings">
    {{ awsomeThing.name }}
  </h4>
  <p ng-repeat-end>
    {{ awsomeThing.description }}
  </p>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
